<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KNT Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/layoutSidebar.css" rel="stylesheet"/>
    <script src="~/Content/js/layoutSidebar.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/5e1dfe1c35.js" crossorigin="anonymous"></script>

    

</head>
<body class="sb-nav-fixed">
@{
    var urlSanPham = Url.Action("SanPham", "Product");
    var urlHome = Url.Action("Index", "Home");
    var urlHoaDon = Url.Action("Index", "Invoice");
    var urlCart = Url.Action("Index", "Cart");
    var urlLogin = Url.Action("Index", "Login");
    var urlRegister = Url.Action("Register", "Login");
}
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-primary">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="@urlHome">KNT Shop</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
        <i class="fas fa-bars"></i>
    </button>
    <!-- Navbar Search-->
    @* <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"> *@
    @*     <div class="input-group"> *@
    @*         <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch"/> *@
    @*         <button class="btn btn-primary" id="btnNavbarSearch" type="button"> *@
    @*             <i class="fas fa-search"></i> *@
    @*         </button> *@
    @*     </div> *@
    @* </form> *@


    <!-- Navbar Cart-->
    <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <button type="button" class="btn btn-primary" onclick="OpenCart()">
            <i href="@urlCart" class="fa-solid fa-cart-shopping"></i>
            GIỎ HÀNG
        </button>
    </div>

    @* TÀI KHOẢN ICONS *@
    <div class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <button type="button" class="btn btn-primary" onclick="showLoginDialog()">
            <i class="fas fa-user fa-fw"></i>
        </button>
    </div>
</nav>
@* ============ DIALOG ============ *@
@{
    var username = Session["username"] == null ? "" : Session["username"].ToString();
    var token = Session["token"] == null ? "" : Session["token"].ToString();
    int gt = Session["gioiTinh"] == null ? 0 : (int)Session["gioiTinh"];
    string ngayTao = Session["ngayTao"] == null ? "" : Session["ngayTao"].ToString();
    string email = Session["email"] == null ? "" : Session["email"].ToString();
    var sdt = Session["sdt"] == null ? "" : Session["sdt"].ToString();
    string diaChi = Session["diaChi"] == null ? "" : Session["diaChi"].ToString();
    var rule = Session["rule"];
}
<div class="container" id="container-dialog">
    @if (token != "")
    {
        <dialog id="login-dialog">
            <div class="mb-3 form-control">
                <label class="form-control">Tên Tài Khoản: <span>@username</span> </label>
                <label class="form-control">Email: <span>@email </span> </label>
                <label class="form-control">
                    Giới Tính:
                    @{

                    }
                    @if (gt == 1)
                    {
                        <span>Nam</span>
                    }
                    else
                    {
                        <span>Nữ</span>
                    }
                </label>
                <label class="form-control">Ngày Tạo: <span>@ngayTao.ToString().Split(' ')[0]</span> </label>
                <label class="form-control">Địa Chỉ: <span>@diaChi</span> </label>
                <label class="form-control">Số Điện Thoại: <span>@sdt</span> </label>
            </div>
            <button id="close-dialog" class="btn btn-secondary" onclick="closeLoginDialog()">Close</button>
            <button class="btn btn-success">
                <a href="https://localhost:44376/Account" class="text-light" style="text-decoration: none">Thông tin tài khoản</a>
            </button>
            <buton id="logout" class="btn btn-primary" onclick="Logout()">Logout</buton>
        </dialog>
    }
    else
    {
        <dialog id="login-dialog">
            <form action="../Login/Index" method="post" class="login_form form-control">
                <div>
                    <h2 class="login_title">
                        Login to <span>KNT Shop</span>
                    </h2>
                </div>
                <div>
                    <div class="login_inputs form-control">
                        <div>
                            <label for="" class="login_label form-label">Username</label>
                            @Html.TextBox("Username", "", new { @id = "Username", @class = "login_input form-control", @placeholder = "Username" })
                        </div>

                        <div>
                            <label for="" class="login_label">Password</label>
                            <div class="login_box">
                                @Html.Password("Password", "", new { @id = "input-pass", @class = "login_input form-control", @placeholder = "Password" })
                                <i class="ri-eye-off-line login-eye" id="input-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="login_buttons">
                        <button type="submit" id="btn-login" class="login_button form-control" formmethod="post">Login</button>
                        <button type="button" id="btn-signup" class="login_button login_button-ghost form-control" onclick="RegisterClick()">SignUp</button>
                    </div>
                    <button id="close-dialog" class="btn btn-secondary" onclick="closeLoginDialog()">Close</button>
                </div>

            </form>
        </dialog>
    }

</div>
<style>
        #show-dialog {
            color: #f2f2f2;
            cursor: pointer;
        }

            #show-dialog:hover {
                color: black;
            }
    </style>
@*===================== Dialog js ================== *@
<script src="~/Content/js/Dialog.js"></script>
@*===================== Dialog js ================== *@

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="@urlHome">
                        <div class="sb-nav-link-icon">
                            @* <i class="fas fa-tachometer-alt"></i> *@
                            <i class="fa-solid fa-house"></i>
                        </div>
                        Home
                    </a>
                    <div class="sb-sidenav-menu-heading">Interface</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-columns"></i>
                        </div>
                        DANH MỤC
                        <div class="sb-sidenav-collapse-arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="@urlSanPham">Sản phẩm</a>
                            <a class="nav-link" href="@urlHoaDon">Hoá đơn</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon">
                            @* <i class="fas fa-book-open"></i> *@
                            <i class="fa-solid fa-gear"></i>
                        </div>
                        CÀI ĐẶT
                        <div class="sb-sidenav-collapse-arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </a>
                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                <i class="fas fa-user fa-fw"></i>
                                Tài khoản
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="@urlLogin">Login</a>
                                    <a class="nav-link" href="@urlRegister">Register</a>
                                    @* <a class="nav-link" href="">Forgot Password</a> *@
                                </nav>
                            </div>
                        </nav>
                    </div>
                    <div class="sb-sidenav-menu-heading">Addons</div>
                    <a class="nav-link" href="@urlCart">
                        <div class="sb-nav-link-icon">
                            @* <i class="fas fa-table"></i> *@
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                        GIỎ HÀNG
                    </a>
                    <a class="nav-link" href="">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-chart-area"></i>
                        </div>
                        Charts
                    </a>

                </div>
            </div>
            @if (username != null)
            {
                <div class="sb-sidenav-footer text-center">
                    <div class="small">Logged in as:</div>
                    <span class="text-uppercase text-primary">@username</span>
                </div>
            }
            else
            {
                <div class="sb-sidenav-footer">
                    <a href="@urlLogin">Login now</a>
                </div>
            }
            
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                @RenderBody()
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">KNT-SHOP - SHOP THỜI TRANG NAM HÀNG ĐẦU VIỆT NAM</div>
                    <div class="text-center">
                        <a href="/Home/About">Tác Giả</a>
                    </div>
                    <div>
                        <i class="fa-brands fa-github"></i>
                        <a href="https://github.com/ThanTranNghiep/WedCuaHangThoiTrang" class="text-decoration-none text-uppercase">Source code</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
@*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>*@

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>