@using System.Activities.Expressions
@using System.Data.Entity.Core.Metadata.Edm
@using System.Globalization
@using System.Web.Mvc.Html
@using System.Web.Services.Description
@using System.Web.UI.WebControls
@using KNT_Shop.Models
@using Microsoft.Ajax.Utilities
@model List<KNT_Shop.Models.ViewModel.SanPhamModel>
@{
    var models = Model;
    ViewBag.Title = "Giỏ hàng";
    //Layout = "../Shared/_Layout.cshtml";
    Layout = "../Shared/_LayoutSidebar.cshtml";
    KNT_ShopDB db = new KNT_ShopDB();
}

<div>
    <link rel="stylesheet" href="~/Content/css/Cart.css"/>
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
            <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                <div class="card-body p-0">
                    <div class="row g-0">
                        <div class="col-lg-8">
                            <div class="p-5">
                                <div class="d-flex justify-content-between align-items-center mb-5">
                                    <h5 class="fw-bold mb-0 text-black">Danh sách sản phẩm</h5>
                                    @* <h6 class="mb-0 text-muted">@count<span>Item</span></h6> *@
                                </div>
                                <hr class="my-4">
                                <script src="~/Content/js/Cart.js"></script>
                                @foreach (var item in @models)
                                {
                                        @* <form action="Cart/UpdateCart" method="post"> *@
                                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-start">
                                            @if (@item.Check == 1)
                                            {
                                                <input id="check" formmethod="post" type="checkbox" class="form-check-input" style="cursor: pointer" onclick="updateCart(@item.MaSanPham)" checked="checked"/>
                                                @* <input id="check" type="checkbox" class="form-check-input" style="cursor: pointer" onclick="@Html.Action("UpdateCart","Cart",new {masp = @item.MaSanPham})" checked="checked"/> *@
                                            }
                                            else
                                            {
                                                <input id="check" formmethod="post" type="checkbox" class="form-check-input" style="cursor: pointer" onclick="updateCart(@item.MaSanPham)"/>
                                                @* <input id="check" type="checkbox" class="form-check-input" style="cursor: pointer" onclick="@Html.Action("UpdateCart","Cart",new {masp = @item.MaSanPham})"/> *@
                                            }
                                        </div>
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img
                                                src="@item.HinhAnh"
                                                class="img-fluid rounded-3" alt="Cotton T-shirt">
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            @* <h6 class="text-muted">Shirt</h6> *@
                                            <h6 class="text-muted">@item.Check</h6>
                                            <h6 class="text-black mb-0">@item.TenSanPham</h6>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                            @{
                                                var soLuongSP = db.SanPhams.Where(x => x.MaSanPham == item.MaSanPham).Select(x => x.SoLuongTon).FirstOrDefault();
                                            }
                                            @if (@item.SoLuong == soLuongSP)
                                            {
                                                <button class="btn btn-link px-2"
                                                        onclick="this.alert('Không thể thêm!')">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-link px-2"
                                                        onclick="StepDown(@item.MaSanPham)">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                            }
                                            <input id="num" min="1" name="quantity" value="@item.SoLuong" type="text"
                                                   class="form-control form-control-sm text-center" readonly="readonly"/>

                                            <button class="btn btn-link px-2"
                                                    onclick="StepUp(@item.MaSanPham)">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            @{
                                                
                                                var giaSanPham = item.Gia * item.SoLuong;
                                            }
                                            @* <h6 class="mb-0">@giaSanPham.ToString().Split(',')[0] VNĐ</h6> *@
                                            <h6 class="mb-0">@giaSanPham.ToString("C3",CultureInfo.CurrentCulture).Split(',')[0] VNĐ</h6>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                            <i onclick="DeleteSanPham(@item.MaSanPham)" class="fa-solid fa-trash" style="cursor: pointer;"></i>
                                        </div>
                                    </div>
                                    <hr class="my-4">
                                    // </form>
                                }
                            </div>
                        </div>

                        <div class="col-lg-4 bg-grey">
                            <div class="p-5">
                                <h5 class="fw-bold mb-5 mt-2 pt-1 text-center text-primary">Đơn hàng</h5>
                                <hr class="my-4">
                                <h6 class="text-uppercase mb-3 text-center">Sản phẩm đã chọn</h6>
                                @* <div class="d-flex justify-content-between mb-4"> *@
                                <div >
                                    @{
                                        decimal total = 0;
                                    }
                                    @foreach (var item in @models)
                                    {
                                        if (item.Check == 1)
                                        {
                                            // string @giaBan = item.Gia.ToString();
                                            <div class="row">
                                                
                                                <div class="col-6 ">
                                                    <h6 id="SP" style="color: #198754">@item.TenSanPham</h6>
                                                </div>
                                                @{
                                                    var giaSanPham = @item.Gia * @item.SoLuong;
                                                }
                                                <div class="col-6 ">
                                                    <h6 id="Price">Giá: <span style="color: #6610f2">@giaSanPham.ToString("C3",CultureInfo.CurrentCulture).Split(',')[0]</span> VNĐ</h6>
                                                </div>
                                            </div>
                                            total = total + decimal.Parse(giaSanPham.ToString());
                                        }
                                    }
                                </div>
                                <hr class="my-4">
                                @* <div class="mb-5"> *@
                                @*     <div class="form-outline"> *@
                                @*         <label class="form-label" for="form3Examplea2">Địa chỉ giao hàng</label> *@
                                @*         <input type="text" id="form3Examplea2" class="form-control form-control-lg"/> *@
                                @*     </div> *@
                                @* </div> *@
                                @* *@
                                @* <hr class="my-4"> *@

                                <div class="d-flex justify-content-between mb-5">
                                    <h5 class="text-uppercase text-danger">Tổng tiền:</h5>
                                    <h5 class="text-bg-warning">@total.ToString("C3",CultureInfo.CurrentCulture).Split(',')[0] VNĐ</h5>
                                </div>
                                @* <button type="button" class="btn btn-dark btn-block btn-lg" onclick="" data-mdb-ripple-color="dark"> *@
                                @*         data-mdb-ripple-color="dark"> *@
                                @*     Đặt hàng *@
                                @* </button> *@
                                @{
                                    List<int> list = new List<int>();
                                    foreach (var temp in models)
                                    {
                                        if (@temp.Check == 1)
                                        {
                                            list.Add(@temp.MaSanPham);
                                        }
                                    }
                                }

                                @Html.ActionLink("Đặt hàng", "Invoice","Cart", new { }, new { @class = "btn btn-dark btn-block btn-lg" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>