@using KNT_SHOP.Models
@model KNT_SHOP.Models.SanPham

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "../Shared/_Layout.cshtml";

    KNT_ShopDB db = new KNT_ShopDB();
    var bangGia = db.BangGias
        .Where(x => x.MaSanPham == x.SanPham.MaSanPham)
        .OrderByDescending(x => x.NgayCapNhat)
        .FirstOrDefault(x => x.MaSanPham == @Model.MaSanPham);
    var Gia = bangGia.GiaBan.ToString().Split(',')[0];
}
<div class="container text-center">
    <script src="~/Content/js/Product.js"></script>
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <form class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0" src="@Model.HinhAnh" alt="..."/>
                    @* @Html.DisplayFor(@model=>@model.HinhAnh, new { @class = "card-img-top mb-5 mb-md-0" }) *@
                </div>
                <div class="col-md-6">
                    <div class="small mb-1">MSP: @Model.MaSanPham<span></span></div>
                    <h1 class="display-5 fw-bolder">@Model.TenSanPham</h1>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration-line-through" style="color: red;">$45.00</span>
                        <span style="color: blue;">@Gia VNĐ</span>
                    </div>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                    <div class="d-flex">
                        <label for="inputQuantity" class="form-control">Số lượng: </label>
                        <input class="form-control text-center me-3" id="inputQuantity" type="text" value="1" min="1" style="max-width: 3rem" pattern="[0-9]"/>
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>