@using System.Globalization
@using KNT_SHOP.Models
@model List<SanPham>

@{
    ViewBag.Title = "Danh sách sản phẩm";
    // Layout = "../Shared/_Layout.cshtml";
    Layout = "../Shared/_LayoutSidebar.cshtml";
    KNT_ShopDB db = new KNT_ShopDB();
    var sanpham = Model;
    var GiaBan = db.BangGias.Where(x => x.MaSanPham == x.SanPham.MaSanPham)
        .OrderByDescending(x => x.NgayCapNhat).ToList();
}

@* @using (@Html.BeginForm("Search", "Product", FormMethod.Post, new { @class = "d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" })) *@
@* { *@
@*     <div class="row align-items-center"> *@
@*         <div class="col"> *@
@*             <div class="input-group mb-3 form-control text-center"> *@
@*                 @Html.TextBox("keyword", "", new { @class = "form-control", placeholder = "Search please..." }) *@
@*                 <button class="btn text-bg-info" type="submit" id="button-addon2" formmethod="post">Search</button> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* } *@

<div class="container text-center">
    <link rel="stylesheet" href="../../Content/css/SanPham.css">
    <script src="~/Content/js/Product.js"></script>
    <div class="container text-center">
        <div class="row">
            @using (@Html.BeginForm("Search", "Product", FormMethod.Post, new { @class = "d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" }))
            {
                <div class="row d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                    <div class="col">
                        <div class="input-group mb-3 form-control text-center">
                            @Html.TextBox("keyword", "", new { @class = "form-control", placeholder = "Search please..." })
                            <button class="btn text-bg-info" type="submit" id="button-addon2" formmethod="post">Search</button>
                        </div>
                    </div>
                </div>
            }
            <div class="col col-lg-2 d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <i class="fa-solid fa-table-cells" id="table-icon" style="box-shadow:0 3px #b02a37; cursor: pointer;" onclick="TableIcon()"></i>
                <i class="fa-solid fa-list" id="list-icons" style=" cursor: pointer;" onclick="ListIcon()"></i>
            </div>
        </div>
        <hr class="my-2"/>
    </div>
    <br/>
    <div class="container text-center">
        <div class="row align-items-start">
            <script src="~/Content/js/Product.js"></script>
            @foreach (var item in sanpham)
            {
                <div class="col col-sanpham">
                    <table>
                        <tr>
                            <td>
                                <img class="sanpham" src="@item.HinhAnh" alt="" onclick="ImgToDetail(@item.MaSanPham)">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="form-label">@item.TenSanPham</label>
                                @* @Html.RenderAction("About", "Home") *@
                            </td>
                        </tr>
                        <tr>
                            @{
                                bool flag = false;
                                var gia = db.BangGias.Where(x => x.MaSanPham == item.MaSanPham)
                                    .OrderByDescending(x => x.NgayCapNhat).FirstOrDefault();
                            }
                            @if (@gia != null)
                            {
                                <td>
                                    <label>
                                        <span style="color: red">@gia.GiaBan.ToString("C3",CultureInfo.CurrentCulture).Split(',')[0] VNĐ</span>
                                    </label>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <label>
                                        <span style="color: red">Chưa cập nhật</span>
                                    </label>
                                </td>
                            }
                            @* @foreach (var i in GiaBan) *@
                            @* { *@
                            @*     if (i.MaSanPham == item.MaSanPham) *@
                            @*     { *@
                            @*         flag = true; *@
                            @*         <td> *@
                            @*             <label> *@
                            @*                 <span style="color: red">@i.GiaBan.ToString().Split(',')[0] VNĐ</span> *@
                            @*             </label> *@
                            @*         </td> *@
                            @*     } *@
                            @* } *@
                            @* @if (flag == false) *@
                            @* { *@
                            @*     <td> *@
                            @*         <label> *@
                            @*             <span style="color: red">Chưa cập nhật</span> *@
                            @*         </label> *@
                            @*     </td> *@
                            @* } *@
                        </tr>
                        <tr>
                            <td>
                                <button id="btn-buy" class="btn btn-success" onclick="AddToCart(@item.MaSanPham)">Mua Hàng</button>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </div>
    </div>
</div>