@using System.Drawing
@using System.Globalization
@using KNT_Shop.Models
@using Newtonsoft.Json
@using Point = KNT_SHOP.Models.Chart.Point

@{
    ViewBag.Title = "Thống kê doanh thu";
    Layout = "../Shared/_LayoutSidebar.cshtml";

    KNT_ShopDB db = new KNT_ShopDB();
    var listNgayLapHoaDon = db.HoaDons.Select(x => x.NgayLapHoaDon).Distinct().ToList();

    var listSanPhamBanChay = db.SanPhams.Where(x => x.MaSanPham == x.ChiTietHoaDons.FirstOrDefault().MaSanPham).ToList();
    // lấy ra danh sách sản phẩm không có trong chi tiết hoá đơn
    var listSanPhamTonKho = db.SanPhams.Where(x => db.ChiTietHoaDons.All(y => y.MaSanPham != x.MaSanPham)).ToList();
}

<div id="chartContainer" class="form-control" style="height: 400px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>
	window.onload = function () {
	 
	var chart = new CanvasJS.Chart("chartContainer", {
		animationEnabled: true,
		title: {
			text: "BIỂU ĐỒ DOANH THU"
		},
		toolTip: {
			shared: true
		},
		data: [{
			type: "line",
			name: "Tổng tiền",
			showInLegend: true,
			dataPoints: @Html.Raw(@ViewBag.DataPoints)
		}],
		axisX: {
			valueFormatString: "DD MMM,YY",
			title: "Ngày lập hóa đơn"
		},
		axisY: {
			// prefix: "$",
			title: "Doanh thu",
			includeZero: false,
			suffix: " VNĐ"
			
		}
	});
	chart.render();
 }
</script>

<br/>
<hr class="my-5"/>
<div class="container text-center">
    <div class="row">
        <h4 class="text-center text-primary text-uppercase">Thống kê doanh thu qua các ngày</h4>
    </div>
    <div class="row">
        <table class="table table-success table-striped">
            <thead>
            <tr>
                <th scope="col">Ngày lập hóa đơn</th>
                <th scope="col">Tổng tiền</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in listNgayLapHoaDon)
            {
                var tongTien = db.HoaDons.Where(x => x.NgayLapHoaDon == item)
                    .Sum(x => x.ChiTietHoaDons
                        .Sum(y => y.SoLuong * y.DonGia));
                <tr>
                    <td>
                        @item.ToString().Split(' ')[0]
                    </td>
                    <td>
                        @tongTien.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN"))
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <hr class="my-5"/>
    <div class="row">
        <h4 class="text-center text-success text-uppercase">Danh sách sản phẩm bán chạy</h4>
    </div>
    <div class="row">
        <table class="table table-success table-striped">
            <thead>
            <tr>
                <th scope="col">Mã sản phẩm</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Số lượng tồn kho</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in listSanPhamBanChay)
            {
                <tr>
                    <td>
                        @item.MaSanPham
                    </td>
                    <td>
                        @item.TenSanPham
                    </td>
                    <td>
                        @item.SoLuongTon
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>


    <hr class="my-5"/>
    <div class="row">
        <h4 class="text-center text-warning text-uppercase">Danh sách hàng tồn kho</h4>
    </div>


    <div class="row">
        <table class="table table-success table-striped">
            <thead>
            <tr>
                <th scope="col">Mã sản phẩm</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Số lượng tồn kho</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in listSanPhamTonKho)
            {
                <tr>
                    <td>
                        @item.MaSanPham
                    </td>
                    <td>
                        @item.TenSanPham
                    </td>
                    <td>
                        @item.SoLuongTon
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

</div>