@model dynamic

@{
    ViewBag.Title = "Hoá đơn";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>title</h2>
<p>result: @Session["test"]</p>
@* @using System.Activities.Expressions *@
@* @using System.Data.Entity.Core.Metadata.Edm *@
@* @using System.Web.Mvc.Html *@
@* @using System.Web.Services.Description *@
@* @using System.Web.UI.WebControls *@
@* @using KNT_SHOP.Models.ViewModel *@
@* @model List<KNT_SHOP.Models.ViewModel.SanPhamModel> *@
@* *@
@* @{ *@
@*     var models = @ViewBag.ListSanPham; *@
@*     ViewBag.Title = "Giỏ hàng"; *@
@*     Layout = "../Shared/_Layout.cshtml"; *@
@* } *@
@* *@
@* <div> *@
@*     <link rel="stylesheet" href="~/Content/css/Cart.css"/> *@
@*     <section class="h-100 h-custom"> *@
@*         <div class="row d-flex justify-content-center align-items-center h-100"> *@
@*             <div class="col-12"> *@
@*                 <div class="card card-registration card-registration-2" style="border-radius: 15px;"> *@
@*                     <div class="card-body p-0"> *@
@*                         <div class="row g-0"> *@
@*                             <div class="col-lg-8"> *@
@*                                 <div class="p-5"> *@
@*                                     <div class="d-flex justify-content-between align-items-center mb-5"> *@
@*                                         <h2 class="fw-bold mb-0 text-black">Danh sách sản phẩm</h2> *@
@*                                         <h6 class="mb-0 text-muted">3 items</h6> *@
@*                                     </div> *@
@*                                     <hr class="my-4"> *@
@*                                     @foreach (var item in @models) *@
@*                                     { *@
@*                                         <div class="row mb-4 d-flex justify-content-between align-items-center"> *@
@*                                             <div class="col-md-1 col-lg-1 col-xl-1 text-start"> *@
@*                                                 <input id="check" type="checkbox" class="form-check-input" *@
@*                                                        $1$ @{ #1# *@
@*                                                        $1$     checked #1# *@
@*                                                        $1$     { #1# *@
@*                                                        $1$         @item.Check = 1; #1# *@
@*                                                        $1$     } #1# *@
@*                                                        $1$     unchecked #1# *@
@*                                                        $1$     { #1# *@
@*                                                        $1$         @item.Check = 0; #1# *@
@*                                                        $1$     } #1# *@
@*                                                        $1$ } #1# *@
@*                                                        style="cursor: pointer"/> *@
@*                                             </div> *@
@*                                             <div class="col-md-2 col-lg-2 col-xl-2"> *@
@*                                                 <img *@
@*                                                     src="@item.HinhAnh" *@
@*                                                     class="img-fluid rounded-3" alt="Cotton T-shirt"> *@
@*                                             </div> *@
@*                                             <div class="col-md-3 col-lg-3 col-xl-3"> *@
@*                                                 $1$ <h6 class="text-muted">Shirt</h6> #1# *@
@*                                                 <h6 class="text-muted">@item.Check</h6> *@
@*                                                 <h6 class="text-black mb-0">@item.TenSanPham</h6> *@
@*                                             </div> *@
@*                                             <div class="col-md-3 col-lg-3 col-xl-2 d-flex"> *@
@*                                                 <button class="btn btn-link px-2" *@
@*                                                         onclick="this.parentNode.querySelector('input[type=number]').stepDown()"> *@
@*                                                     <i class="fas fa-minus"></i> *@
@*                                                 </button> *@
@* *@
@*                                                 <input id="form1" min="0" name="quantity" value="@item.SoLuong" type="number" *@
@*                                                        class="form-control form-control-sm"/> *@
@* *@
@*                                                 <button class="btn btn-link px-2" *@
@*                                                         onclick="this.parentNode.querySelector('input[type=number]').stepUp()"> *@
@*                                                     <i class="fas fa-plus"></i> *@
@*                                                 </button> *@
@*                                             </div> *@
@*                                             <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1"> *@
@*                                                 @{ *@
@*                                                     var giaBan = item.Gia.ToString().Split(',')[0]; *@
@*                                                 } *@
@*                                                 <h6 class="mb-0">@giaBan VNĐ</h6> *@
@*                                             </div> *@
@*                                             <div class="col-md-1 col-lg-1 col-xl-1 text-end"> *@
@*                                                 <a href="#!" class="text-muted"> *@
@*                                                     <i class="fa-solid fa-trash"></i> *@
@*                                                 </a> *@
@*                                             </div> *@
@*                                         </div> *@
@*                                         <hr class="my-4"> *@
@*                                     } *@
@*                                 </div> *@
@*                             </div> *@
@* *@
@*                             <div class="col-lg-4 bg-grey"> *@
@*                                 <div class="p-5"> *@
@*                                     <h3 class="fw-bold mb-5 mt-2 pt-1 text-center text-primary">Đơn hàng</h3> *@
@*                                     <hr class="my-4"> *@
@*                                     <h5 class="text-uppercase mb-3">Sản phẩm đã chọn</h5> *@
@*                                     <div class="d-flex justify-content-between mb-4"> *@
@*                                         <h5 class="text-uppercase">items 3</h5> *@
@*                                         <h5>€ 132.00</h5> *@
@*                                     </div> *@
@*                                     <hr class="my-4"> *@
@*                                     <div class="mb-5"> *@
@*                                         <div class="form-outline"> *@
@*                                             <label class="form-label" for="form3Examplea2">Địa chỉ giao hàng</label> *@
@*                                             <input type="text" id="form3Examplea2" class="form-control form-control-lg"/> *@
@*                                         </div> *@
@*                                     </div> *@
@* *@
@*                                     <hr class="my-4"> *@
@* *@
@*                                     <div class="d-flex justify-content-between mb-5"> *@
@*                                         <h5 class="text-uppercase">Total price</h5> *@
@*                                         <h5>€ 137.00</h5> *@
@*                                     </div> *@
@*                                     $1$ <button type="button" class="btn btn-dark btn-block btn-lg" onclick="" data-mdb-ripple-color="dark"> #1# *@
@*                                     $1$         data-mdb-ripple-color="dark"> #1# *@
@*                                     $1$     Đặt hàng #1# *@
@*                                     $1$ </button> #1# *@
@*                                     @{ *@
@*                                         List<int> list = new List<int>(); *@
@*                                         foreach (var temp in models)     *@
@*                                         { *@
@*                                             if(@temp.Check == 1) *@
@*                                             { *@
@*                                                 list.Add(@temp.MaSanPham); *@
@*                                             } *@
@*                                         } *@
@*                                         Session["List"] = @list; *@
@*                                     } *@
@*                                     @Html.ActionLink("Đặt hàng", "Invoice", new { }, new { @class = "btn btn-dark btn-block btn-lg" }) *@
@*                                 </div> *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                 </div> *@
@*             </div> *@
@*         </div> *@
@*     </section> *@
@* </div> *@
