@using KNT_SHOP.Models
@model KNT_SHOP.Models.TaiKhoan

@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "../Shared/_Layout.cshtml";
    var sanpham = @ViewBag.SanPham;
    var giaBan = @ViewBag.ListGiaBan;
}


<div class="container text-center">
    <link rel="stylesheet" href="../../Content/css/SanPham.css">
    <div class="row">
        <h2>Danh sách sản phẩm</h2>
    </div>
    @* <div class="row"> *@
    @*     @foreach (var item in sanpham) *@
    @*     { *@
    @*         <div class="col col-sanpham"> *@
    @*             <table> *@
    @*                 <tr> *@
    @*                     <td> *@
    @*                         $1$ <img class="sanpham" src="@item.HinhAnh" alt="" style="width: 200px; height: 200px"> #1# *@
    @*                         <img class="sanpham" src="@item.HinhAnh" alt=""> *@
    @*                     </td> *@
    @*                 </tr> *@
    @*                 <tr> *@
    @*                     <td> *@
    @*                         <label class="form-label">@item.TenSanPham</label> *@
    @*                     </td> *@
    @*                 </tr> *@
    @*                 <tr> *@
    @*                     @{ *@
    @*                         bool flag = false; *@
    @*                     } *@
    @*                     @foreach (var i in giaBan) *@
    @*                     { *@
    @*                         if (i.MaSanPham == item.MaSanPham) *@
    @*                         { *@
    @*                             flag = true; *@
    @*                             <td> *@
    @*                                 <label> *@
    @*                                     <span style="color: red">@i.GiaBan.ToString().Split(',')[0] VNĐ</span> *@
    @*                                 </label> *@
    @*                             </td> *@
    @*                         } *@
    @*                     } *@
    @*                     @if (flag == false) *@
    @*                     { *@
    @*                         <td> *@
    @*                             <label> *@
    @*                                 <span style="color: red">Chưa cập nhật</span> *@
    @*                             </label> *@
    @*                         </td> *@
    @*                     } *@
    @*                 </tr> *@
    @*                 <tr> *@
    @*                     <td> *@
    @*                         <button class="btn btn-success">Mua Hàng</button> *@
    @*                     </td> *@
    @*                 </tr> *@
    @*             </table> *@
    @*         </div> *@
    @*     } *@
    @* </div> *@


    <div class="container text-center">
        <div class="row align-items-start">
            @foreach (var item in sanpham)
            {
                <div class="col col-sanpham">
                    <table>
                        <tr>
                            <td>
                                <img class="sanpham" src="@item.HinhAnh" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="form-label">@item.TenSanPham</label>
                                @* @Html.RenderAction("About", "Home") *@
                            </td>
                        </tr>
                        <tr>
                            @{
                                bool flag = false;
                            }
                            @foreach (var i in giaBan)
                            {
                                if (i.MaSanPham == item.MaSanPham)
                                {
                                    flag = true;
                                    <td>
                                        <label>
                                            <span style="color: red">@i.GiaBan.ToString().Split(',')[0] VNĐ</span>
                                        </label>
                                    </td>
                                }
                            }
                            @if (flag == false)
                            {
                                <td>
                                    <label>
                                        <span style="color: red">Chưa cập nhật</span>
                                    </label>
                                </td>
                            }
                        </tr>
                        <tr>
                            <td>
                                <button id="btn-buy" class="btn btn-success">Mua Hàng</button>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </div>
    </div>
</div>